<h1>Detecktive Pikachu Backup Machine</h1>

<%= form_with scope: :backup, url: backups_path, local: true do |form| %>
  <%= form.submit 'Create Backup'%>
<% end %>

<%= button_to "Purge All Backups", { action: "destroy_all"}, data: { confirm: "Are you sure you want to delete all backups?" } %>

<%= form_tag(backups_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag "Search Backup" %>
<% end %>

<table>
  <tr>
    <th>Created At</th>
    <th>JSON</th>
    <th>Show</th>
    <th>Purge</th>
  </tr>
  <% @backups.each do |backup| %>
      <tr>
        <td><%= backup.created_at %></td>
        <td>
          <%= backup.body %>
        </td>
        <td><%= button_to 'Show Backup', backup_path(backup) %></td>
        <td>
          <%= button_to 'Purge Backup', backup_path(backup),
              method: :delete,
              data: { confirm: "Are you sure you want to delete backup with id: #{backup.id}?" } %>
        </td>
      </tr>
  <% end %>
</table>