<h1>Detecktive Pikachu Backup Machine</h1>

<%= form_with scope: :backup, url: backups_path, local: true do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= button_to "Purge Backup", action: "purge" %>

<%= button_to "Search Backup", action: "search" %>

<table>
  <tr>
    <th>Created At</th>
    <th>JSON</th>
  </tr>
  <% @backups.each do |backup| %>
      <tr>
        <td><%= backup.created_at %></td>
        <td><%= backup.body %></td>
        <td><%= link_to 'Show', backup_path(backup) %></td>
      </tr>
  <% end %>
</table>